<body>
  <md-dialog aria-label="Информация по команде">
    <form>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>Информация по записи</h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-dialog-content style="max-width:800px;max-height:810px; ">
        <md-content flex layout-padding class="dialog_command_descr">
          <h2 class="md-title">имя девайса и время запуска команды</h2>
          <p>
            <b>Имя девайса: </b> {{dataFromRow.device_name}}
            <b>
              <br>
              <br> Время запуска: </b> {{dataFromRow.timestamp | date:"dd-MM-yyyy HH:mm:ss"}}
          </p>
          <h2 class="md-title">описание адресата</h2>
          <p>
            {{dataFromRow.description}}
          </p>
          <h2 class="md-title">описание записи</h2>
          <p>
            <!--  -->
            <b>Тип записи:</b>
            <span class={{dataFromRow.class_comm_or_attr}}>{{dataFromRow.type_req}}</span>

            <br>
            <br>

            <!--  -->
            <b>Статус выполнения:</b>
            <span class={{dataFromRow.class_comm_or_attr}}> {{dataFromRow.status === "1" ? "Выполнено" : "Не выполнено"}} </span>

            <br>
            <br>

            <!--  -->
            <b>Имя {{dataFromRow.is_command ? "команды: " : "атрибута: "}}</b>
            <b>
              <span class={{dataFromRow.class_comm_or_attr}}> {{dataFromRow.command_name}} </span>
            </b>

            <br>
            <br>
            <!--  -->
            <b>Аргументы: </b>
            <span class={{dataFromRow.class_comm_or_attr}}> {{dataFromRow.argin}} </span>
          </p>
        </md-content>
      </md-dialog-content>

      <md-dialog-actions layout="row">
        <md-button ng-click="cancel()" style="margin-right:20px;">
          Закрыть
        </md-button>
      </md-dialog-actions>
    </form>
  </md-dialog>
</body>